<script type="text/javascript" src="/js/wymeditor/jquery.wymeditor.js"></script>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
#layer1{border:0px solid green;position:absolute; left:500px; top:200px;width:100;height:100px; z-index:999999}
</style>

<div id="layer1" style="display:none"><%= image_tag("/images/template/loading.gif", :width => '100') %></div>


<script language="javascript">

function folder_view() {
	var t = document.getElementById('folder');
	
	if (t.style.display == "none") {
		t.style.display = "block";			
	}else{
		t.style.display = "none";					
	}

}

function show_progress() {
	var width = 100;
	var height = 100;
	
	var left = (screen.width - width)/2;
 	var top = (screen.height - height)/2;
	
	document.getElementById("layer1").style.left = left;
	document.getElementById("layer1").style.top = top;
	
	document.getElementById("layer1").style.display = "block";		

}

function hide_progress() {
	document.getElementById("layer1").style.display = "none";		
}

function hide_div(div_id) {
	var id_btn = div_id + "_btn";
	var id_div = div_id + "_sub";
	
	var t = document.getElementById(id_div);
	var btn = document.getElementById(id_btn);
	
	if (t.style.display == "none") {
		t.style.display = "block";
		btn.value = "-";			
	}else{
		t.style.display = "none";	
		btn.value = "+";									
	}
}

function get_temp_id(temp_id) {
	var selct_box = document.getElementById("select_temp_" + temp_id);
	var master_select_box = document.getElementById("master_template_select");

	var str1 = master_select_box.options[master_select_box.selectedIndex].value;
	var str2 = selct_box.options[selct_box.selectedIndex].value;	
	return str1 +"."+ str2;
	
}

function get_start_page(temp_id) {
	var str = document.getElementById(temp_id+"_start_page").value;
	return str;
}


</script>

<% if !@book_basic.nil? 
		book_id = @book_basic.id 
%>

<script>
$(document).ready(function(){
	$('#epub_make').click(function() {
		if (window.confirm('EPUB파일을 생성하시겠습니까?')){
			show_progress();
			
			$.ajax({
				data:'book_id=<%= book_id %>', 
				dataType:'script', 
				type:'post', 
				url:'/bookarticles/epub_make',
				success:function(request){$('#epub_make').html(request);}
			});				
			
		}else{
			return false;
		};
		
	});
	
	$('.update_btn').click(function(){
		temp = event.target.id.split("_");
		level_id = temp[2];

		$.ajax({
			data:'level_id='+level_id, 
			dataType:'script', 
			type:'post', 
			url:'/bookarticles/update_article_from_m',
			success:function(request){
				// $('#'+level_id+'_textarea').attr("innerText",request);
				var temp = $('#' + level_id + '_sub iframe').attr("contentDocument").body;
				
				$(temp).attr("innerHTML", request);

				// alert($('#'+level_id+'_textarea').attr("innerText"));
				// var html_str = "<textarea class='wymeditor' id='"+level_id+"_textarea"+"' name='content' style='width:750px; height: 100px; font-size:12px;' >"+request+"</textarea>"
				// $('#'+level_id+'_textarea').html(html_str);
				// 				
				// 				// $('#'+level_id+'_sub .wym_box:first').remove();
				// 				
				// 				$('#'+level_id+ '_textarea' +'.wymeditor').wymeditor({
				// 					
				// 					html: 		request,
				// 			        lang: 'kr',
				// 			        stylesheet: '/css/wymeditor/styles.css',
				// 
				// 					postInit: function(wym) {
				// 
				// 			           $(wym._box).find(wym._options.containersSelector)
				// 			              .removeClass('wym_dropdown')
				// 			              .addClass('wym_panel')
				// 						  .css('float', 'right')
				// 						  .css('width', '60px')
				// 			              .find('h2 > span')
				// 			              .remove();
				// 
				// 						// $(wym.).wym_area_bottom.css('display', 'none')
				// 			           $(wym._box).find(wym._options.classesSelector)
				// 			              .remove();
				// 
				// 			            //adjust the editor's height
				// 			            $(wym._box).find(wym._options.iframeSelector)
				// 			                .css('height', '350px')
				// 							.css('width', '660px');
				// 			        },
				// 
				// 			        toolsItems: [
				// 			        {'name': 'Bold', 'title': 'Strong', 'css': 'wym_tools_strong'}, 
				// 			        {'name': 'Italic', 'title': 'Emphasis', 'css': 'wym_tools_emphasis'},
				// 			        {'name': 'Paste', 'title': 'Paste_From_Word',
				// 			            'css': 'wym_tools_paste'},
				// 			        {'name': 'Undo', 'title': 'Undo', 'css': 'wym_tools_undo'},
				// 			        {'name': 'Redo', 'title': 'Redo', 'css': 'wym_tools_redo'}
				// 			    	]
				// 					,
				// 
				// 					containersItems: [
				// 				    {'name': 'h1_title', 'title': '큰제목', 'css': ''},
				// 				    {'name': 'h2_ch_title', 'title': '꼭지제목', 'css': ''},
				// 					{'name': 'h3_ch_m_title', 'title': '꼭지중제목', 'css': ''},
				// 					{'name': 'h4_ch_s_title', 'title': '꼭지소제목', 'css': ''},
				// 					{'name': 'h5_lead', 'title': '리드문', 'css': ''},
				// 					{'name': 'h6_caption', 'title': '사진캡션', 'css': ''},
				// 					{'name': 'p_body', 'title': '본문', 'css': ''},
				// 					{'name': 'p_1_body_r', 'title': '우측맞춤', 'css': ''},
				// 					{'name': 'p_2_body_gothic', 'title': '본문고딕', 'css': ''},
				// 					{'name': 'p_3_body_italic', 'title': '본문이태릭', 'css': ''},
				// 					{'name': 'p_4_body_quotation', 'title': '인용문', 'css': ''},
				// 					]
				// 
				// 			    });
			}
		});				
		
	});
	
	$(function() {
		// alert($('.wymeditor').val());
	    $('.wymeditor').wymeditor({
			lang: 'kr',
			stylesheet: '/css/wymeditor/styles.css',

			postInit: function(wym) {

				$(wym._box).find(wym._options.containersSelector)
					.removeClass('wym_dropdown')
					.addClass('wym_panel')
					.css('float', 'right')
					.css('width', '60px')
					.find('h2 > span')
					.remove();

					// $(wym.).wym_area_bottom.css('display', 'none')
				$(wym._box).find(wym._options.classesSelector)
					.remove();

				//adjust the editor's height
				$(wym._box).find(wym._options.iframeSelector)
					.css('height', '350px')
					.css('width', '660px');
				},

		        toolsItems: [
		        {'name': 'Bold', 'title': 'Strong', 'css': 'wym_tools_strong'}, 
		        {'name': 'Italic', 'title': 'Emphasis', 'css': 'wym_tools_emphasis'},
		        {'name': 'Paste', 'title': 'Paste_From_Word',
		            'css': 'wym_tools_paste'},
		        {'name': 'Undo', 'title': 'Undo', 'css': 'wym_tools_undo'},
		        {'name': 'Redo', 'title': 'Redo', 'css': 'wym_tools_redo'}
		    	],


				containersItems: [
			    {'name': 'h1_title', 'title': '큰제목', 'css': ''},
			    {'name': 'h2_ch_title', 'title': '꼭지제목', 'css': ''},
				{'name': 'h3_ch_m_title', 'title': '꼭지중제목', 'css': ''},
				{'name': 'h4_ch_s_title', 'title': '꼭지소제목', 'css': ''},
				{'name': 'h5_lead', 'title': '리드문', 'css': ''},
				{'name': 'h6_caption', 'title': '사진캡션', 'css': ''},
				{'name': 'p_body', 'title': '본문', 'css': ''},
				{'name': 'p_1_body_r', 'title': '우측맞춤', 'css': ''},
				{'name': 'p_2_body_gothic', 'title': '본문고딕', 'css': ''},
				{'name': 'p_3_body_italic', 'title': '본문이태릭', 'css': ''},
				{'name': 'p_4_body_quotation', 'title': '인용문', 'css': ''},
				]

	    });
	});	
});


</script>
</head>
<body>

<%
  incover = Book_article.first(:user_id => current_user.id, :book_basic_id => book_id.to_i, :gubun => "incover")
  contents_table = Book_article.first(:user_id => current_user.id, :book_basic_id => book_id.to_i, :gubun => "contents_table")
  prologue = Book_article.first(:user_id => current_user.id, :book_basic_id => book_id.to_i, :gubun => "prologue")
%>

<h1><%= @book_basic.title %></h1>
<input type="button" id="epub_make" value="EPUB 생성"> &nbsp;
<input type="button" value="EPUB 불러오기" onClick="alert('개발 진행중입니다.');"> &nbsp; 
<input type="button" value="Ipad Mbook 생성" onClick="alert('개발 진행중입니다.');"> &nbsp; 
<div id="epub_file">
<% if File.exists?(RAILS_ROOT + "/public/user_files/#{current_user.userid}/book_article/#{book_id}/#{book_id}.epub")
down_link = HOSTING_URL + "user_files/#{current_user.userid}/book_article/#{book_id}/#{book_id}.epub"
%> 
&nbsp;<a href="<%= down_link %>"><font color="white">epub 다운</font></a>
<% end %>
</div>

<% form_remote_tag :url => {:action => 'update_master_temp'}, :update => "update_master_temp" do %>
	<input type="hidden" name="book_id" value="<%= book_id %>">
<div style="width:750px; margin-left: 500px;">
	<font color=white>마스터 템플릿 선택:</font> <select id="master_template_select" name="master_template_select">
		<%
		  @temp_list = Mytemplate.all(:gubun => "master", :user_id => current_user.id)
		  @temp_list.each do |t| 
			%>
			<option value="<%= t.id.to_s %>" <%= "selected" if Book_basic.get(book_id.to_i).select_master_tempid == t.id %>><%= t.name %></option>
			<%
		  end
		 %>
	</select>&nbsp;<input id="master_tempid" type="submit" value="저장">
</div>
<% end %>
<div id="<%= incover.id.to_s %>" style="width:750px; background-color:gray;">
	<% form_remote_tag :url => {:action => 'update'}, :update => "result" do %>
	<input type="hidden" name="id" value="<%= incover.id.to_s %>">	

	<input id="<%= incover.id.to_s + "_btn" %>" type="button" onClick="hide_div('<%= incover.id.to_s %>')" value="+">
	<input type="submit" class="wymupdate" value="텍스트저장">
	<select id="select_temp_<%= incover.id %>" name="select_temp">
		<option value="incover" <%= "selected" if incover.selected_tempid == "incover" %>>속표지</option>
	</select>
	<%= image_tag '/images/mytemplates/editing.jpg', :align => 'absmiddle', 
	:onmouseover => "this.style.cursor='hand';",
	:onclick => "if (window.confirm('선택하신 템플릿에 텍스트를 적용하여 편집하시겠습니까?')){show_progress();}else{return false;};" + remote_function(:url => { :controller => 'bookarticles', :action => :publish_book },
	:with => "'start_page='+get_start_page("+incover.id.to_s+")+'&level_id="+incover.id.to_s+"&book_id="+book_id.to_s+"&temp_id='+get_temp_id("+incover.id.to_s+")")	%>
	<span style="margin-left:20px"></span>
	<input id="<%= incover.id.to_s + "_start_page" %>" name="start_page" value="<%= incover.start_page %>" type="text" style="width:30px;"> 시작페이지 적용  
	<% if !Mytemplate.first(:level_id => incover.id).nil? %>
		<span style="float:right"><input type="button" id="up_btn_<%= incover.id.to_s %>" class="update_btn" value="원고함 업데이트"></span>
	<% end %>
	<br>
	<input type="text" style="width:750;font-size:12px;" name="title" value="<%= incover.title %>">
	<div id="<%= incover.id.to_s + "_sub" %>" style="display:none">
		<textarea class="wymeditor" id="<%= incover.id.to_s+"_textarea" %>" name="content" style='width:750px; height: 100px; font-size:12px;'>
			<%= incover.content_m %>
		</textarea>
	</div>	
	<% end %>
</div>

<div id="<%= prologue.id.to_s %>" style="width:750px; background-color:gray;">
	<% form_remote_tag :url => {:action => 'update'}, :update => "result" do %>
	<input type="hidden" name="id" value="<%= prologue.id.to_s %>">	

	<input id="<%= prologue.id.to_s + "_btn" %>" type="button" onClick="hide_div('<%= prologue.id.to_s %>')" value="+">
	<input type="submit" class="wymupdate" value="텍스트저장">
	<select id="select_temp_<%= prologue.id %>" name="select_temp">
		<option value="prologue" <%= "selected" if prologue.selected_tempid == "prologue" %>>머릿말</option>
	</select>
	
	<%= image_tag '/images/mytemplates/editing.jpg', :align => 'absmiddle', 
	:onmouseover => "this.style.cursor='hand';",
	:onclick => "if (window.confirm('선택하신 템플릿에 텍스트를 적용하여 편집하시겠습니까?')){show_progress();}else{return false;};" + remote_function(:url => { :controller => 'bookarticles', :action => :publish_book },
	:with => "'start_page='+get_start_page("+prologue.id.to_s+")+'&level_id="+prologue.id.to_s+"&book_id="+book_id.to_s+"&temp_id='+get_temp_id("+prologue.id.to_s+")")	%>
	
	<span style="margin-left:20px"></span><input id="<%= prologue.id.to_s + "_start_page" %>" name="start_page" value="<%= prologue.start_page %>" type="text" style="width:30px;"> 시작페이지 적용  
	<% if !Mytemplate.first(:level_id => prologue.id).nil? %>
		<span style="float:right"><input type="button" id="up_btn_<%= prologue.id.to_s %>" class="update_btn" value="원고함 업데이트"></span>
	<% end %>
	<br>
	<input type="text" style="width:750;font-size:12px;" name="title" value="<%= prologue.title %>">
	<div id="<%= prologue.id.to_s + "_sub" %>" style="display:none">
		<textarea class="wymeditor" id="<%= prologue.id.to_s+"_textarea" %>" name="content" style='width:750px; height: 100px;' >
			<%= prologue.content_m %>
		</textarea>
	</div>	
	<% end %>
</div>

<div id="<%= contents_table.id.to_s %>" style="width:750px; background-color:gray">
	<% form_remote_tag :url => {:action => 'update'}, :update => "result" do %>
	<input type="hidden" name="id" value="<%= contents_table.id.to_s %>">	

	<input id="<%= contents_table.id.to_s + "_btn" %>" type="button" onClick="hide_div('<%= contents_table.id.to_s %>')" value="+">
	<input type="submit" class="wymupdate" value="텍스트저장">
	<select id="select_temp_<%= contents_table.id %>" name="select_temp">
		<option value="contents_table_l" <%= "selected" if contents_table.selected_tempid == "contents_table_l" %>>차례(왼쪽)</option>
		<option value="contents_table_r" <%= "selected" if contents_table.selected_tempid == "contents_table_r" %>>차례(오른쪽)</option>		
	</select>
	
	<%= image_tag '/images/mytemplates/editing.jpg', :align => 'absmiddle', 
	:onmouseover => "this.style.cursor='hand';",
	:onclick => "if (window.confirm('선택하신 템플릿에 텍스트를 적용하여 편집하시겠습니까?')){show_progress();}else{return false;};" + remote_function(:url => { :controller => 'bookarticles', :action => :publish_book },
	:with => "'start_page='+get_start_page("+contents_table.id.to_s+")+'&level_id="+contents_table.id.to_s+"&book_id="+book_id.to_s+"&temp_id='+get_temp_id("+contents_table.id.to_s+")")	%>
	
	<span style="margin-left:20px"></span><input id="<%= contents_table.id.to_s + "_start_page" %>" value="<%= contents_table.start_page %>" name="start_page" type="text" style="width:30px;"> 시작페이지 적용  
	<% if !Mytemplate.first(:level_id => contents_table.id).nil? %>
		<span style="float:right"><input type="button" id="up_btn_<%= contents_table.id.to_s %>" class="update_btn" value="원고함 업데이트"></span>
	<% end %>
	<br>
	<input type="text" style="width:750;font-size:12px;" name="title" value="<%= contents_table.title %>">
	<div id="<%= contents_table.id.to_s + "_sub" %>" style="display:none">
		<textarea class="wymeditor" id="<%= contents_table.id.to_s+"_textarea" %>" name="content" style='width:750px; height: 100px;' ><%= contents_table.content_m %></textarea>
	</div>
	<% end %>
</div>

<div style="height:30px"></div>

<% 

@level1_list = Book_article.all(:user_id => current_user.id, :book_basic_id => book_id.to_i, :self_level => 1)

@level1_list.each do |l1|
	%>
	<!-- Level1 Div bloc Start  ============================================================================-->
	<div id="<%= l1.id %>" style="width:750px; background-color:yellow;">
		<% form_remote_tag :url => {:action => 'update'}, :update => "result" do %>
		<input type="hidden" name="id" value="<%= l1.id.to_s %>">
		
		<input id="<%= l1.id.to_s + "_btn" %>" type="button" onClick="hide_div('<%= l1.id.to_s %>')" value="-">
		<input type="submit" class="wymupdate" value="텍스트저장">
		<select id="select_temp_<%= l1.id %>" name="select_temp">
			<option value="body_l" <%= "selected" if l1.selected_tempid == "body_l" %>>본문(왼쪽)</option>
			<option value="body_r" <%= "selected" if l1.selected_tempid == "body_r" %>>본문(오른쪽)</option>			
			<option value="title_page" <%= "selected" if l1.selected_tempid == "title_page" %>>표제지</option>
		</select>
		
		<%= image_tag '/images/mytemplates/editing.jpg', :align => 'absmiddle', 
		:onmouseover => "this.style.cursor='hand';",
		:onclick => "if (window.confirm('선택하신 템플릿에 텍스트를 적용하여 편집하시겠습니까?')){show_progress();}else{return false;};" + remote_function(:url => { :controller => 'bookarticles', :action => :publish_book },
		:with => "'start_page='+get_start_page("+l1.id.to_s+")+'&level_id="+l1.id.to_s+"&book_id="+book_id.to_s+"&temp_id='+get_temp_id("+l1.id.to_s+")")	%>
		
		<span style="margin-left:20px"></span><input id="<%= l1.id.to_s + "_start_page" %>" name="start_page" value="<%= l1.start_page %>" type="text" style="width:30px;"> 시작페이지 적용  
		<% if !Mytemplate.first(:level_id => l1.id).nil? %>
			<span style="float:right"><input type="button" id="up_btn_<%= l1.id.to_s %>" class="update_btn" value="원고함 업데이트"></span>
		<% end %>
		<br>
		<input type="text" style="width:750; font-size:12px;" name="title" value="<%= l1.title %>">
		<div id="<%= l1.id.to_s + "_sub" %>">
			<textarea class="wymeditor" id="<%= l1.id.to_s+"_textarea" %>" name="content" style='width:750px; height: 100px; font-size:12px;' ><%= l1.content_m %></textarea>
		
		<% end %>
		<%
		@level2_list  = Book_article.all(:user_id => current_user.id, :book_basic_id => book_id.to_i, :self_level => 2, :upper_level => l1.id.to_i)
		if !@level2_list.nil?
			@level2_list.each do |l2|
			%>
			<br>
			<!-- Level2 Div bloc Start  ============================================================================-->
			<div id="<%= l2.id %>" style="width:740px; background-color:blue;padding-left:5px;margin-left:5px">
				<% form_remote_tag :url => {:action => 'update'}, :update => "result" do %>
				<input type="hidden" name="id" value="<%= l2.id.to_s %>">
				
				<input id="<%= l2.id.to_s + "_btn" %>" type="button" onClick="hide_div('<%= l2.id.to_s %>')" value="-">
				<input type="submit" class="wymupdate" value="텍스트저장">
				<select id="select_temp_<%= l2.id %>" name="select_temp">
					<option value="body_l" <%= "selected" if l2.selected_tempid == "body_l" %>>본문(왼쪽)</option>
					<option value="body_r" <%= "selected" if l2.selected_tempid == "body_r" %>>본문(오른쪽)</option>			
					<option value="title_page" <%= "selected" if l2.selected_tempid == "title_page" %>>표제지</option>
				</select>

				<%= image_tag '/images/mytemplates/editing.jpg', :align => 'absmiddle', 
				:onmouseover => "this.style.cursor='hand';",
				:onclick => "if (window.confirm('선택하신 템플릿에 텍스트를 적용하여 편집하시겠습니까?')){show_progress();}else{return false;};" + remote_function(:url => { :controller => 'bookarticles', :action => :publish_book },
				:with => "'start_page='+get_start_page("+l2.id.to_s+")+'&level_id="+l2.id.to_s+"&book_id="+book_id.to_s+"&temp_id='+get_temp_id("+l2.id.to_s+")")	%>
				
				<span style="margin-left:20px"></span><input id="<%= l2.id.to_s + "_start_page" %>" name="start_page" value="<%= l2.start_page %>" type="text" style="width:30px;"> 시작페이지 적용  
				<% if !Mytemplate.first(:level_id => l2.id).nil? %>
					<span style="float:right"><input type="button" id="up_btn_<%= l2.id.to_s %>" class="update_btn" value="원고함 업데이트"></span>
				<% end %>	
				<br>
				<input type="text" style="width:740; font-size:12px;" name="title" value="<%= l2.title %>">
				<div id="<%= l2.id.to_s + "_sub" %>">
					<textarea class="wymeditor" id="<%= l2.id.to_s+"_textarea" %>" name="content" style='width:740px; height: 100px; font-size:12px;' ><%= l2.content_m %></textarea>
				
				<% end %>
				<%
				@level3_list  = Book_article.all(:user_id => current_user.id, :book_basic_id => book_id.to_i, :self_level => 3, :upper_level => l2.id.to_i)
				if !@level3_list.nil?
					@level3_list.each do |l3|
					%>
					<br>
					<!-- Level3 Div bloc Start  ============================================================================-->
					<div id="<%= l3.id %>" style="width:730px; background-color:green;padding-left:5px;margin-left:5px">
						<% form_remote_tag :url => {:action => 'update'}, :update => "result" do %>
						<input type="hidden" name="id" value="<%= l3.id.to_s %>">
						
						
						<input id="<%= l3.id.to_s + "_btn" %>" type="button" onClick="hide_div('<%= l3.id.to_s %>')" value="-">
						<input type="submit" class="wymupdate" value="텍스트저장">
						
						<select id="select_temp_<%= l3.id %>" name="select_temp">
							<option value="body_l" <%= "selected" if l3.selected_tempid == "body_l" %>>본문(왼쪽)</option>
							<option value="body_r" <%= "selected" if l3.selected_tempid == "body_r" %>>본문(오른쪽)</option>			
							<option value="title_page" <%= "selected" if l3.selected_tempid == "title_page" %>>표제지</option>
						</select>
						<%= image_tag '/images/mytemplates/editing.jpg', :align => 'absmiddle', 
						:onmouseover => "this.style.cursor='hand';",
						:onclick => "if (window.confirm('선택하신 템플릿에 텍스트를 적용하여 편집하시겠습니까?')){show_progress();}else{return false;};" + remote_function(:url => { :controller => 'bookarticles', :action => :publish_book },
						:with => "'start_page='+get_start_page("+l3.id.to_s+")+'&level_id="+l3.id.to_s+"&book_id="+book_id.to_s+"&temp_id='+get_temp_id("+l3.id.to_s+")")	%>						
						<span style="margin-left:20px"></span><input id="<%= l3.id.to_s + "_start_page" %>" name="start_page" value="<%= l3.start_page %>" type="text" style="width:30px;"> 시작페이지 적용
						<% if !Mytemplate.first(:level_id => l3.id).nil? %>
							<span style="float:right"><input type="button" id="up_btn_<%= l3.id.to_s %>" class="update_btn" value="원고함 업데이트"></span>
						<% end %>
						<br>
						<input type="text" style="width:730; font-size:12px;" name="title" value="<%= l3.title %>">
						<div id="<%= l3.id.to_s + "_sub" %>">
							<textarea class="wymeditor" id="<%= l3.id.to_s+"_textarea" %>" name="content" style='width: 730px; height: 100px; font-size:12px;' ><%= l3.content_m %></textarea>
						<% end %>
						<%
						@level4_list  = Book_article.all(:user_id => current_user.id, :book_basic_id => book_id.to_i, :self_level => 4, :upper_level => l3.id.to_i)
						if !@level4_list.nil?
							@level4_list.each do |l4|
							%>
							<br>
							<!-- Level4 Div bloc Start  ============================================================================-->	
							<div id="<%= l4.id %>" style="width:720px; background-color:purple;padding-left:5px;margin-left:5px">
								<% form_remote_tag :url => {:action => 'update'}, :update => "result" do %>
								<input type="hidden" name="id" value="<%= l4.id.to_s %>">
								

								<input id="<%= l4.id.to_s + "_btn" %>" type="button" onClick="hide_div('<%= l4.id.to_s %>')" value="-">	
								<input type="submit" class="wymupdate" value="텍스트저장">
								
								<select id="select_temp_<%= l4.id %>" name="select_temp">
									<option value="body_l" <%= "selected" if l4.selected_tempid == "body_l" %>>본문(왼쪽)</option>
									<option value="body_r" <%= "selected" if l4.selected_tempid == "body_r" %>>본문(오른쪽)</option>			
								</select>
								<%= image_tag '/images/mytemplates/editing.jpg', :align => 'absmiddle', 
								:onmouseover => "this.style.cursor='hand';",
								:onclick => "if (window.confirm('선택하신 템플릿에 텍스트를 적용하여 편집하시겠습니까?')){show_progress();}else{return false;};" + remote_function(:url => { :controller => 'bookarticles', :action => :publish_book },
								:with => "'start_page='+get_start_page("+l4.id.to_s+")+'&level_id="+l4.id.to_s+"&book_id="+book_id.to_s+"&temp_id='+get_temp_id("+l4.id.to_s+")")	%>	
								<span style="margin-left:20px"></span><input id="<%= l4.id.to_s + "_start_page" %>" name="start_page" value="<%= l4.start_page %>" type="text" style="width:30px;"> 시작페이지 적용						
								<% if !Mytemplate.first(:level_id => l4.id).nil? %>
									<span style="float:right"><input type="button" id="up_btn_<%= l4.id.to_s %>" class="update_btn" value="원고함 업데이트"></span>
								<% end %>
								<br>
								<input type="text" style="width:720; font-size:12px;" name="title" value="<%= l4.title %>">
								<div id="<%= l4.id.to_s + "_sub" %>">
									<textarea class="wymeditor" id="<%= l4.id.to_s+"_textarea" %>" name="content" style='width: 720px; height: 100px; font-size:12px;' ><%= l4.content_m %></textarea>
								</div>
								<% end %>
							</div>
							<!-- Level4 Div bloc End  ============================================================================-->	
							<%
							end
						end
						%>
					</div>	
					</div>
					<!-- Level3 Div bloc End  ============================================================================-->				
					<%
					end
				end
				%>
			</div>
			</div>
			<!-- Level2 Div bloc End  ============================================================================-->				
			<%
			end
		end
		%>
	</div>
	</div>
	<!-- Level1 Div bloc End  ============================================================================-->	
	<br>
	<%
end
end
%>

<div id="result"></div>
<div id="mlayout_run"></div>
<div id="epub_make"></div>
<div id="update_master_temp"></div>
